div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid Iblack;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay:1s */
/* Transition Shortand 
      pro_name duration property delay  
*/
    transition: all 1s ease-in 0s;
    position: absolute;
    top: 200px;
    left: 200px;
    transform: rotate(90deg);
    /* rotate: x 45deg; */
    /* rotate: y 45deg; */
    /* rotate: z 45deg;  */
    transform: scale(1,2);
}                  
div:hover {
    background-color:red;
    color:white;
    font-size: 20px;
    transform: scale(2,1);
    transform: rotateZ(90deg);
    transform: translate(-200px,-200px);
 
}
div:active{
    background-color: pink;
}           
span{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid Iblack;
    display: block;
transition: all 2s ease-in 0s;
    position: absolute;
    top: 400px;
    left: 500px;

}   
span:hover{
    background-color: lightgreen;
    
    transform: skew(90deg);
}

